/*     	Modal     */
.modal {
  .bg-default .modal-title, .bg-primary .modal-title, .bg-secondary .modal-title, .bg-info .modal-title, .bg-success .modal-title, .bg-warning .modal-title, .bg-danger .modal-title {
    color: $white-color !important;
  }
}

.modal-content {
  bOrder-radius: .4rem !important;
  bOrder: 0 !important;
}