

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Login Persada Konveksi</title>
<link rel="stylesheet" th:href="@{/css/style_login.css}">
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

	<style>
		body .login-page{
			background: #ffffff;
		}
	</style>


</head>
<body>

	<!-- partial:index.partial.html -->
	<div class="login-page" style="">
		<div class="form">
			<center>
				<img src="../../assets/img/logo3.png" alt="" width="120" height="120" >
				<h1 style="">LOGIN </h1>
			</center>
			<br>
			<form class="login-form" th:action="@{/login}" method="post">

				<!--<div th:if="${param.error}" class="alert alert-arror">Invalid
					Username and Password</div>-->

				<div th:if="${param.logout}" class="alert alert-success">You
					Haved Been Logged Out</div>

				<input type="text" placeholder="username" name="username"  required="required"/> <input
					type="password" placeholder="password" name="password" required="required"/>
				<button type="submit">Sign In</button>
				<p class="message">
					Not registered? <a th:href="@{/user/registration}">Create an account</a>
				</p>
			</form>
		</div>
	</div>
	<!-- partial -->


</body>
</html>
